<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>悦听player</title>
  <!-- 样式 -->
  <link rel="stylesheet" href="./css/index.css">
</head>

<body>
  <div class="wrap">
    <!-- 播放器主体区域 -->
    <div class="play_wrap" id="player">
      <div class="search_bar">
        <img src="images/player_title.png" alt="" />
        <!-- 搜索歌曲 -->
        <input type="text" autocomplete="off" v-model="query" @keyup.enter="searchMusic" />
        <div class="search_button" @click="searchMusic"></div>
      </div>
      <div class="center_con">
        <!-- 搜索歌曲列表 -->
        <div class='song_wrapper'>
          <ul class="song_list">
            <li v-for="item in musicList" :style="{ backgroundColor:selectedcolor(item.id)}" @click="playMusic(item.id,item.name+'——'+item.artists[0].name)">
              <a href="javascript:;" @click="playMusic(item.id,item.name+'——'+item.artists[0].name)"></a> 
              <b>{{ item.name }}</b> 
              <span style="color: red; width: 5px; cursor: pointer;" @click.stop="addmusicList(item.id,item.name+'——'+item.artists[0].name)" v-text="inmusicList(item.id)"></span>
              <span v-if="item.mvid!=0" @click="playMV(item.mvid)"><i></i></span>
            </li>
          </ul>
          <img src="images/line.png" class="switch_btn" alt="">
        </div>
        <!-- 歌曲信息容器 -->
        <div class="player_con" :class="{playing:isPlaying}">
          <img src="images/player_bar.png" class="play_bar" />
          <!-- 黑胶碟片 -->
          <img src="images/disc.png" class="disc autoRotate" />
          <img :src="musicCover" class="cover autoRotate" />
        </div>
        <!-- 评论容器 -->
        <div class="comment_wrapper">
          <h5 class='title'>热门留言</h5>
          <div class='comment_list'>
            <dl v-for="item in hotComments">
              <dt><img :src="item.user.avatarUrl" alt=""></dt>
              <dd class="name">{{ item.nickname}}</dd>
              <dd class="detail">
                {{ item.content }}
              </dd>
            </dl>
          </div>
          <img src="images/line.png" class="right_line">
        </div>
      </div>
      <div class="audio_con">
        <div class="listbutton" :class="{ listbutton2:liston }"@mouseover="liston2 = true" @mouseout="liston2 = false" @click="liston = !liston">=</div>
        <div class="playlist" :class="{clicked:liston}" style="z-index: 1;">
          <div style="vertical-align: center; text-align:center; color: white;">我的歌单</div>
          <ul class="song_list" style="height: 92%; border-radius:0 0 25px 25px;">
            <li v-for="item in mymusicList" :style="{ backgroundColor:selectedcolor(item)}" style="overflow: hidden;" @click="playMusic(item)">
              <b style="width: 150px; overflow: hidden;" :alt="playlist(item)">{{ playlist(item) }}</b>
              <span @click.stop="delfromlist(item)">x</span>
            </li>
          </ul>
        </div>
        <audio ref='audio' @play="play" @pause="pause" :src="musicUrl" @ended="nextMusic" @timeupdate="gettime" controls autoplay class="myaudio">{{ currentTime }}</audio>
        <div class="lyric">{{ lyric }}</div>
        <div class="last" :style="{ display:leftplay() }" @click="lastMusic"></div>
        <div class="next" :style="{ display:leftplay() }" @click="nextMusic"></div>
      </div>
      <div class="video_con" v-show="isShow" style="display: none;">
        <video :src="mvUrl" controls="controls"></video>
        <div class="mask" @click="hide"></div>
      </div>
    </div>
  </div>
  <!-- 开发环境版本，包含了有帮助的命令行警告 -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- 官网提供的 axios 在线地址 -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./js/main2.js"></script>
</body>

</html>